/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url('../images/halftone.png');
	font-family: 'Open Sans', Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Inconsolata', monospace;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
	.container {
		max-width: 1024px;
	}
}

/* Customize container */
@media (min-width: 1024px) {
	.container {
		max-width: 1280px;
	}
}


.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

.col-exp {
	display: none;
}

/* Plus/Minus Buttons */
.expandable, .collapsible {
	position: absolute;
	left: 0;
	font-size: 1em;
	padding: 7px;
}

li {
	position: relative;
}

content {
	border: none;
}

content:focus {
	outline: none;
}

.nbc {
	height: 72px;
	width: 128px;
	background: url('../images/nbc.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	float:right;
}

.animate.ng-enter, 
.animate.ng-leave
{ 
	-webkit-transition: 50ms cubic-bezier(0.25, 0.25, 1, 1) all;
	-moz-transition: 50ms cubic-bezier(0.25, 0.25, 1, 1) all;
	-ms-transition: 50ms cubic-bezier(0.25, 0.25, 1, 1) all;
	-o-transition: 50ms cubic-bezier(0.25, 0.25, 1, 1) all;
	transition: 50ms cubic-bezier(0.25, 0.25, 1, 1) all;
	position: relative;
	display: block;
} 

.animate.ng-enter.ng-enter-active, 
.animate.ng-leave {
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	transform: scaleY(1);
	height: 30px;
	opacity: 1;
}

.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
	height: 0px;
	opacity: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}

/******************************/
/******** Bullet Icons ********/
/******************************/

#content ul {
	list-style-type: none;
}

.bullet {
	position: relative;
	margin-left: 1.5em;
	display: inline-block;
	vertical-align: middle;
}

.bullet:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	font-size: 1.4em;
	margin-right: 0.2em;
	color: #F8F5E1;
	padding-left: 0.25em;

	text-shadow:
		-1px -1px 0 #040C3A,  
		1px -1px 0 #040C3A,
		-1px 1px 0 #040C3A,
		1px 1px 0 #040C3A;
}

.suite:before {
	content: '\f07b';
	color: #040C3A;
}

.suite.open:before {
	content: '\f07c';
	color: #040C3A;
}

.case:before {
	content: '\f07b';
	color: #83B6EB;
}

.case.open:before {
	content: '\f07c';
	color: #83B6EB;
}

.step:before {
	content: '\f111';
	color: #000;
	text-shadow: none;
}

.openable:before {
	height: 1.4em;
	width: 1.4em;
	background: url('../images/halodot.png');
	background-size: 95% 95%;
	background-repeat: no-repeat;
	background-position: center center;
}

@keyframes demo {
  from {
    animation-timing-function: ease;
    transform: translateX(0px);
  }
  50% {
  	animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  to {
    animation-timing-function: ease-out;
    transform: translateX(200%);
  }
}

.letcher:before {
	content: '\f1d0' !important;
	color: red !important;
	text-shadow: none !important;
}

.letcher-flight {
	animation-delay: 0s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: demo;
}



.bullet {
	background-image:  url('../images/dot.png');
}

/******************************/
/********* Hover Menu *********/
/******************************/

.popover {
	text-align: center;
}

/******************************/
/********** Sidebar ***********/
/******************************/

#sidebar {
position: absolute;
width: 200px;
min-height: 100%;
max-height: 100%;
top: 0;
left: 0;
border-right: #AAA solid 1px;
background: #CCC;
padding: 0.5em;
color: #333;
overflow-y: auto;
}

#sidebar h1 {
	color: #333;
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 0.5em;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #999;
	padding: 0 0.2em 0.5em 0.2em;
}

#sidebar h1:after {

}

#sidebar p {
	margin-left: 0.3em;
}

/******************************/
/********** Body ***********/
/******************************/
.container {
}

#docview {
	position: relative;
	top: 3em;
	padding-left: 200px;
	background-color: white;
	margin-bottom: 3em;
	border: 1px solid #CCC;
	min-height: 90%;
}

#content {
	background-color: white;
}

#content > ul {
	padding-left: 0;
	margin-top: 1em;
}

/******************************/
/********** Navbar ***********/
/******************************/

.navbar-brand {
	width: 275px;
}

.navbar-brand:before {
	display: block;
	top: -.5em;
	position: absolute;
	width: 3.8em;
	height: 3.8em;
	content: "";
	background: url('../images/testflow-medium.png') no-repeat;
	background-size: 100%;
	z-index: 100;
}

.navbar-brand img {
	position: absolute;
	left: 5.5em;
}