<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a ng-href="#">Home</a></li>
		<li><a ng-href="#">About</a></li>
		<li><a ng-href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">TestFlow</h3>
</div>

<div class="row marketing">
	<ul class="nav nav-pills nav-stacked">
		<li class="animate" ng-repeat="name in awesomeThings">
			<a href="#"> {{name}} </a>
		</li> 
	</ul>
	<button ng-click="removeEnd()">Remove End</button>
	<button ng-click="removeAll()">Remove All</button>
</div>

<rootnode id="content">
	<nodecollection nodecollection="root.children"></nodecollection>
	<!-- <node ng-repeat="node in root.children" node="node" ng-model="node"></node> -->
</rootnode>

<!-- <div id="content" class="row marketing" contenteditable="true">
	<p ng-repeat="node in root.children">
		<input ng-model="node.content" />
	</p>
</div> -->

<pre style="background: grey" id="displayModel" class="row marketing">
	<nodecollection nodecollection="root.children"></nodecollection>
</pre>

<div class="footer">
	<p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
